body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
    background-color: #1F2937;
    flex-shrink: 1;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8; 
    font-weight: 900;
}

.header-links,
.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;     
}

ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    gap: 25px;
}

.first-quarter {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    flex-wrap: wrap;
    gap: 50px;
}

img {
    max-width: 400px;
    max-height: auto;
}

.hero {
    flex: 0 1 auto;
    max-width: 500px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-button {
    margin-top: 12px;
    background-color: #3882F6;
    font-size: 16px;
    padding: 5px 25px;
    color: #f9faf8;
    font-weight: 900;
    border-radius: 8px;
    border-color: #3882F6;
    border-style: solid;   
}

.second-quarter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
    background-color: #f9faf8;
}

.information {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px 0px;
    text-align: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.images > div {
    flex: 0 1 auto;
    max-width: 150px;
    text-align: center;
}

.image-container {
    border: 4px solid #3882f6;
    max-width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.third-quarter {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    max-width: 800px;
    padding: 150px 0px;
}

.author {
    font-size: 18px;
    text-align: end;
    max-width: 800px;
    padding-right: 5px;
}

.fourth-quarter {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    background-color: #f9faf8;
}

.call {
    background-color: #3882F6;
    font-size: 26px;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #E5E7EB;
    padding: 50px 0px;
    margin: 100px 0px;
    border-radius: 10px;
    gap: 10px;
}

p {
    padding: 0px;
    margin: 0px;
}

.call-text {
    padding: 0px 10px;
}

.fourth-quarter button {
    font-size: 18px; 
    font-weight: bold;
    border-color: #E5E7EB;
    border-width: 3px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-weight: 900;
    border-radius: 8px;
    border-style: solid;
    color: #E5E7EB;
    flex: 0 0 auto;
}

.footer {
    font-size: 20px;
    color: #E5E7EB;
    text-align: center;
    padding: 40px 0px;
}